body {
    background: #F5F5DC
}
/*topnav mostly taken from https://www.w3schools.com/howto/howto_css_topnav_split.asp */
.topnav {
    background-color: #3a3636;
    overflow: hidden;
}
.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: .8vh 3vh;
    text-decoration: none;
    font-size: 2.1vh;
}
.topnav a:hover {
  background-color: #85858f;
}
.topnav .split
{
    float: right;
    display: block;
    padding: .8vh 3vh;
    background-color: #3a3636;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 2.1vh;
}
.topnav .split:hover {
    background-color: #85858f;
}
#choosename {
    display: none;

}
